body{
  overflow-x: hidden;

  #ArianaGrande-container {
    height: 150vh;
    background-image: url("../images/AG-Header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    @media only screen and (max-width: 500px) {
      background-position: right;
    }
  }
  #Eminem-container {
    height: 150vh;
    background-image: url("../images/Eminem.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    @media only screen and (max-width: 500px) {
      background-position: right;
    }
  }
  #michaelJakson-container {
    height: 150vh;
    background-image: url("../images/Michael_jackson.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    @media only screen and (max-width: 500px) {
      background-position: right;
    }
  }
  #NassifZeytoun-container {
    height: 150vh;
    background-image: url("../images/NassifZeytoun.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    @media only screen and (max-width: 500px) {
      background-position: right;
    }
  }
  #TamerHosny-container {
    height: 150vh;
    background-image: url("../images/TH-Header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    @media only screen and (max-width: 500px) {
      background-position: right;
    }
  }
  #TaylorSwift-container {
    height: 150vh;
    background-image: url("../images/TS-Header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    @media only screen and (max-width: 500px) {
      background-position: right;
    }
  }
    .section-one {
      height: 150vh;
      background-image: url("https://images.pexels.com/photos/9137/night-vintage-music-bokeh.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
    }
    .section-two {
      height: 150vh;
      background-image: url("https://images.pexels.com/photos/196652/pexels-photo-196652.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
    }
    .section-three {
      height: 150vh;
      background-image: url("https://images.pexels.com/photos/258804/pexels-photo-258804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
    }
  section {
    #overDeArtist {
      position: absolute;
      top: 110vh;
    }
    #awards {
      position: absolute;
      top: 260vh;
    }
    #evenementen {
      position: absolute;
      top: 410vh;
    }
    .opm-container {
      -webkit-transform: rotate(-5deg);
      -moz-transform: rotate(-5deg);
      -o-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
      transform: rotate(-5deg);
      color: #000;
      margin-left: -5%;
      min-width: 110%;
      padding: 30vh 10%;
      background-image: (linear-gradient(rgba(171, 183, 192, .1) 0%, rgba(171, 183, 192, .2) 5%,
              rgba(171, 183, 192, .3) 10%, rgba(171, 183, 192, .4) 15%,
              rgba(171, 183, 192, .5) 20%, rgba(171, 183, 192, .7) 25%,
              rgba(171, 183, 192, .9) 30%, rgba(171, 183, 192, 1) 45%,
              rgba(171, 183, 192, 1) 65%, rgba(171, 183, 192, .9) 70%,
              rgba(171, 183, 192, .7) 75%, rgba(171, 183, 192, .5) 80%,
              rgba(171, 183, 192, .4) 85%, rgba(171, 183, 192, .3) 90%,
              rgba(171, 183, 192, .2) 95%, rgba(171, 183, 192, .1) 100%));

      article {
        -webkit-transform: rotate(5deg);
        -moz-transform: rotate(5deg);
        -o-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
        transform: rotate(5deg);
        .btn-outline-dark{
          color: rgba(55, 6, 23,1);
          &:hover{
            background-color:rgba(55, 6, 23,.9) ;
            color: white;
            -webkit-animation-name: btn; /* Safari 4.0 - 8.0 */
            -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
            animation-name: btn;
            animation-duration: 1s;
            /* Safari 4.0 - 8.0 */
            @-webkit-keyframes btn {
              from {background-color: rgba(55, 6, 23,.0);}
              to {background-color: rgba(55, 6, 23,.9);}
            }

            /* Standard syntax */
            @keyframes btn {
              from {background-color: rgba(55, 6, 23,.0);}
              to {background-color: rgba(55, 6, 23,.9);}
            }
          }
        }
      }
    }
  }
  .jumbotron{
    margin: 0;
  }
}

