@import "mixin";

body{
  overflow-x: hidden;

  #ArianaGrande-container {
    height: 150vh;
    background-image: url("../images/AG-Header.jpg");
    @include background-cover;
  }
  #Eminem-container {
    height: 150vh;
    background-image: url("../images/Eminem.jpg");
    @include background-cover;
    @media only screen and (max-width: 1200px) {
      background-position: right;
    }
  }
  #michaelJakson-container {
    height: 150vh;
    background-image: url("../images/Michael_jackson.jpg");
    @include background-cover;
  }
  #NassifZeytoun-container {
    height: 150vh;
    background-image: url("../images/NassifZeytoun.jpg");
    @include background-cover;
    @media only screen and (max-width: 500px) {
      background-position: right;
    }
  }
  #TamerHosny-container {
    height: 150vh;
    background-image: url("../images/TH-Header.jpg");
    @include background-cover;
    @media only screen and (max-width: 1200px) {
      background-position: right;
    }
  }
  #TaylorSwift-container {
    height: 150vh;
    background-image: url("../images/TS-Header.jpg");
    @include background-cover;
    @media only screen and (max-width: 1200px) {
      background-position: center;
    }
  }
  .section-one {
    height: 150vh;
    background-image: url("https://images.pexels.com/photos/9137/night-vintage-music-bokeh.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    @include background-cover;
  }
  .section-two {
    height: 150vh;
    background-image: url("https://images.pexels.com/photos/196652/pexels-photo-196652.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    @include background-cover;
  }
  .section-three {
    height: 150vh;
    background-image: url("https://images.pexels.com/photos/258804/pexels-photo-258804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    @include background-cover;
  }

  section {
    h3 {
      display:inline-block;
      transition: 1s;
      animation-duration: 4s;
      animation-name: fade;
      animation-iteration-count: inherit;
      @keyframes fade {
        from {
          opacity: 0;
        }
      }

      &:hover {
        background-color: inherit;
        transform: rotate(-2deg) scale(1.2);
      }
    }

    #overDeArtist {
      position: absolute;
      top: 110vh;
    }
    #awards {
      position: absolute;
      top: 260vh;
    }
    #evenementen {
      position: absolute;
      top: 410vh;
    }
    .opm-container {
      -webkit-transform: rotate(-5deg);
      -moz-transform: rotate(-5deg);
      -o-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
      transform: rotate(-5deg);
      color: #000;
      margin-left: -5%;
      min-width: 110%;
      padding: 30vh 10%;
      @include linear-gradient-background;

      article {
        -webkit-transform: rotate(5deg);
        -moz-transform: rotate(5deg);
        -o-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
        transform: rotate(5deg);
        h3{
          @include font-style($google-font,$h2-color,bold);
        }
      }
    }
  }
  .jumbotron{
    margin: 0;
  }
}
#ArianaGrande-container.aan,
.section-one.aan,
.section-two.aan,
.section-three.aan{
  background: #744492;
}
