.footer {
  padding-top: 100vh;
}
footer {
  padding: 20px 90px 10px 90px;
  background-color: #e9ecef;
  P{
    font-size: 24px;
    @media only screen and (max-width: 820px) {
      font-size: 16px;
    }
    @media only screen and (max-width: 450px) {
      font-size: 12px;
    }
  }
  @media only screen and (max-width: 820px) {
    font-size: 20px;
    padding: 9px 9px 1px 9px;
  }
  @media only screen and (max-width: 450px) {
    font-size: 14px;
    padding: 9px 9px 1px 9px;
  }

  .logo {
    height:75px;
    @media only screen and (max-width: 820px) {
      height:40px !important;
    }
    @media only screen and (max-width: 450px) {
      height:30px !important;
    }
    &:hover {
      -ms-transform: rotatey(360deg); /* IE 9 /
      -webkit-transform: rotatey(360deg); / Safari /
      transform: rotatey(360deg); / Standard syntax */
      transition: 5s;
    }
  }
}

.author {
  padding: 10px 90px;
  background-color: #d9dbdd;
  font-size: 16px;
  color: rgba(55, 6, 23, .9);
  text-align: right;
  @media only screen and (max-width: 600px) {
    text-align: center;
    padding: 6px 0;
  }
  a {
    i {
      color: darkred;
      &:hover {
        -ms-transform: skew(20deg, 10deg);/* IE 9 */
        -webkit-transform: skew(20deg,10deg); /* Safari */
        transform: skew(20deg,10deg); /* Standard syntax */
        transition: 2s;
      }
    }
  }
}
