@import "mixin";

.navbar{
  background-color: $navbar-color;
  @media (max-width: 990px) {
    text-align: center;
    .dropdown-item {
      text-align: center;
    }
    }
  a{
    color: white;
  }
  .active{
    font-weight: bold;
  }
  .dropdown-menu {
    background-color: rgba(55, 6, 23,1);
  }
}

.nav-link {
    transition-duration: 1s;
  &:hover {
    background-color: inherit;
    font-weight: bold;
    transform: scale(1.5);
    margin-top: 20px;
    color: white;
    }
  @media (max-width: 990px) {
    .nav-link {
      transition-duration: 0s;
    }
    &:hover {
      transform: none;
      margin: 0px;
    }
  }
}

#Delete {
  font-weight: bolder;
  color: white;
  &:hover {
    color: black;
  }
  @media (max-width: 990px) {
    display: none;
  }
}

