.navbar{
  background-color: rgba(55, 6, 23,0.6);
  @media (max-width: 990px) {
    text-align: center;
    .dropdown-item {
      text-align: center;
    }
    }
  a{
    color: white;

    .animatie {
      width: 100px;
      height: 100px;
      background: red;
      -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
      transition: width 2s, height 2s, transform 2s;
      &:hover {
        width: 300px;
        height: 300px;
        -webkit-transform: rotate(180deg); /* Safari */
        transform: rotate(180deg);
      }
    }
  }
  .active{
    font-weight: bold;
  }
  .dropdown-menu {
    background-color: rgba(55, 6, 23,1);
  }
}

.nav-link {
    transition-duration: 1s;
  &:hover {
    background-color: inherit;
    font-weight: bold;
    transform: scale(1.5);
    margin-top: 20px;
    color: white;
    }
  @media (max-width: 990px) {
    .nav-link {
      transition-duration: 0s;
    }
    &:hover {
      transform: none;
      margin: 0px;
    }
  }
}

#Delete {
  font-weight: bolder;
  color: white;
  &:hover {
    color: black;
  }
  @media (max-width: 990px) {
    display: none;
  }
}

