body {
  margin: 0;
  padding: 0;

  .flex-container {
    position: absolute;
    height: 100vh;
    width: 100%;
    display: -webkit-flex;
    /* Safari */
    display: flex;
    overflow: hidden;
  }

  .flex-slide {
    -webkit-flex: .2;
    /* Safari 6.1+ */
    -ms-flex: .2;
    /* IE 10 */
    flex: .2;
    cursor: pointer;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;

    &:hover {
      -webkit-flex-grow: 3;
      flex-grow: 3;
    }

    .flex-title {
      color: #f1f1f1;
      position: relative;
      font-size: 3vw;
      margin: auto;
      text-align: center;
      transform: rotate(90deg);
      top: 15%;
      -webkit-transition: all 500ms ease;
      -moz-transition: all 500ms ease;
      -ms-transition: all 500ms ease;
      -o-transition: all 500ms ease;
      transition: all 500ms ease;
    }
    .flex-about {
      opacity: 0;
      color: #f1f1f1;
      position: relative;
      width: 70%;
      font-size: 2vw;
      padding: 5%;
      top: 20%;
      border: 2px solid #f1f1f1;
      border-radius: 10px;
      line-height: 1.3;
      margin: auto;
      text-align: left;
      transform: rotate(0deg);
      -webkit-transition: all 500ms ease;
      -moz-transition: all 500ms ease;
      -ms-transition: all 500ms ease;
      -o-transition: all 500ms ease;
      transition: all 500ms ease;
    }
  }
}


@media screen and (max-width: 950px) {

  .flex-container { flex-direction: column; }
  .flex-slide {
    overflow: auto;
    overflow-x: hidden;
    .flex-title { transform: rotate(0deg) !important; }
    .flex-about {
      padding: 0%;
      border: 0px solid #f1f1f1;
      p { font-size: 2em; }
      .btn-lg{
        padding: 6px;
        font-size: .8em;
      }
    }
  }
}



.michaelJackson {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/Michael_jackson.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.tamerHosny {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/TamerHosny.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.taylorSwift {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/TaylorSwift.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.arianaGrande {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/ArianaGrande.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.nassifZeytoun {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/NassifZeytoun.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.eminem {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/Eminem.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

@-webkit-keyframes
sk-cubemove {  25% {
  -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
}
  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes
sk-cubemove {  25% {
  transform: translateX(42px) rotate(-90deg) scale(0.5);
  -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
}
  50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  }
  50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
