// Override Bs4 variables and custom mixins
$theme-colors: (
        'primary': #009CAB,
        'danger': #F04C25
);

// Link to BS4
@import "../node_modules/bootstrap/scss/bootstrap";

// Custom code/partials
@import "slider";

// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat');

// Variables
$font:font-family: 'Montserrat', sans-serif;

.header{
  max-width: 100%;
  height: 100vh;
  background-image: url(https://images.pexels.com/photos/96380/pexels-photo-96380.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}